<div
  class="space-container p-d-flex p-ai-top p-jc-top p-justify-top p-col-12"
></div>
<div class="p-d-flex p-col-12">
  <div class="p-col-4"></div>
  <div
    class="login-card p-grid p-fluid p-formgrid p-d-flex p-flex-column p-col-4"
  >
    <h1 class="h1 p-ai-top p-jc-top p-justify-top p-ml-2 p-pl-4 p-pr-2 p-py-2">
      Guitar Tabs App
    </h1>
    <div class="p-d-flex p-ai-center">
      <h2 style="color: #e4e3e3c2">Password Reminder</h2>
    </div>
    <div class="p-d-flex p-flex-column p-col-12">
      <form class="p-fluid p-pl-2" [formGroup]="sendPasswordForm">
        <div class="p-field p-mb-3">
          <input
            id="email"
            type="text"
            pInputText
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <div class="p-field p-mb-0 p-d-flex p-flex-column">
          <p-password
            formControlName="otp"
            placeholder="OTP"
            [feedback]="false"
          ></p-password>
          <small
            class="text-warning"
            [ngClass]="{
              'hidden-error': !(
                sendPasswordForm.controls.otp.invalid &&
                sendPasswordForm.controls.otp.touched
              )
            }"
          >
            Must complete the 6-digit password sent to your email
          </small>
        </div>
        <div class="p-mt-2 p-mb-4">
          <button
            pButton
            pRipple
            [disabled]="
              sendPasswordForm.controls.otp.disabled ||
              sendPasswordForm.controls.otp.invalid ||
              sendPasswordForm.controls.email.invalid
            "
            label="Send Password"
            type="button"
            (click)="sendPassword()"
            class="p-button-success p-button-sm p-d-block p-mx-auto"
            routerLink="/auth"
          ></button>
        </div>
      </form>
    </div>
  </div>
  <div class="p-col-4"></div>
</div>
