<div
  class="space-container p-d-flex p-ai-top p-jc-top p-justify-top p-col-12"
></div>
<div class="p-d-flex p-col-12">
  <div class="p-col-4"></div>
  <div
    class="login-card p-grid p-fluid p-formgrid p-d-flex p-flex-column p-col-4"
  >
    <h1 class="h1 p-ai-top p-jc-top p-justify-top p-ml-2 p-pl-4 p-pr-2 p-py-2">
      <i>Guitar Tabs App</i>
    </h1>
    <div class="p-d-flex p-ai-center">
      <h3 style="color: #e4e3e3c2">Change Password</h3>
    </div>
    <div class="p-d-flex p-flex-column p-col-12">
      <form class="p-fluid margin p-pl-2" [formGroup]="forgotForm">
        <div
          *ngIf="!!forgotForm.get('oldPassword')"
          class="p-field p-mb-0 p-d-flex p-flex-column"
        >
          <p-password
            formControlName="oldPassword"
            [toggleMask]="true"
            [feedback]="false"
            placeholder="Old Password"
          ></p-password>
          <small
            class="p-error"
            [ngClass]="{
              'hidden-error': !(
                forgotForm.controls.oldPassword.invalid &&
                forgotForm.controls.oldPassword.touched
              )
            }"
          >
            Insert correct password
          </small>
        </div>
        <div
          *ngIf="!!forgotForm.get('newPassword')"
          class="p-field p-mb-0 p-d-flex p-flex-column"
        >
          <p-password
            formControlName="newPassword"
            [toggleMask]="true"
            promptLabel
            placeholder="New Password"
          ></p-password>
          <small
            class="p-error"
            [ngClass]="{
              'hidden-error': !(
                forgotForm.controls.newPassword.invalid &&
                forgotForm.controls.newPassword.touched
              )
            }"
          >
            Fill new password. (Must be at least 8 characters)
          </small>
        </div>
        <div class="p-field p-mb-0 p-d-flex p-flex-column">
          <p-password
            formControlName="confirmNewPassword"
            [toggleMask]="true"
            promptLabel
            placeholder="Confirm Password"
          ></p-password>
          <small
            class="p-error"
            [ngClass]="{
              'hidden-error':
                forgotForm.controls.confirmNewPassword.disabled ||
                forgotForm.controls.confirmNewPassword.invalid ||
                forgotForm.controls.newPassword.value ===
                  forgotForm.controls.confirmNewPassword.value
            }"
          >
            Passwords doesn't match
          </small>
        </div>

        <div class="p-mt-2 p-mb-1">
          <button
            pButton
            pRipple
            [disabled]="
              forgotForm.controls.confirmNewPassword.disabled ||
              forgotForm.controls.confirmNewPassword.invalid ||
              forgotForm.controls.confirmNewPassword.value !==
                forgotForm.controls.newPassword.value
            "
            label="Change Password"
            type="button"
            (click)="changePassword()"
            class="p-button-success p-button-sm p-d-block p-mx-auto"
            routerLink="/auth"
          ></button>

          <div class="p-mb-2 p-mt-2 p-text-center">
            <a
              routerLink="/auth/sign-up"
              style="color: #e4e3e3c2"
              routerLinkActive="active"
              ><b>New user? Sign up now!</b></a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="p-col-4"></div>
</div>
