<div
  class="space-container p-d-flex p-ai-top p-jc-top p-justify-top p-col-12"
></div>
<div class="p-d-flex p-col-12">
  <div class="p-col-4"></div>
  <div
    class="login-card p-grid p-fluid p-formgrid p-d-flex p-flex-column p-col-4"
  >
    <h1 class="h1 p-ai-top p-jc-top p-justify-top p-ml-2 p-pl-4 p-pr-2 p-py-2">
      Guitar Tabs App
    </h1>
    <div class="p-d-flex p-ai-center">
      <h3 style="color: #e4e3e3c2">Sign In or</h3>
      <a
        class="p-ml-1"
        (click)="signUp()"
        routerLink="/auth/sign-up"
        style="color: #e4e3e3c2"
        routerLinkActive="active"
        ><strong>Create Account</strong></a
      >
    </div>
    <div class="p-d-flex p-flex-column p-col-12">
      <form
        class="p-fluid margin p-pl-2"
        [formGroup]="loginForm"
        (ngSubmit)="doUserLogin()"
      >
        <div class="p-field p-mb-3">
          <input
            id="userName"
            type="text"
            pInputText
            placeholder="Username"
            formControlName="userName"
          />
        </div>

        <div
          *ngIf="!!loginForm.get('password')"
          class="p-field p-mb-0 p-d-flex p-flex-column"
        >
          <p-password
            formControlName="password"
            [toggleMask]="true"
            promptLabel
            placeholder="Password"
          ></p-password>
          <small
            class="p-error"
            [ngClass]="{
              'hidden-error': !(
                loginForm.controls.password.invalid &&
                loginForm.controls.password.touched
              )
            }"
          >
            Password must be 8-16 characters
          </small>
        </div>

        <div class="p-mt-2 p-mb-1">
          <button
            pButton
            pRipple
            [disabled]="
              loginForm.controls.password.disabled ||
              loginForm.controls.password.invalid ||
              loginForm.controls.userName.invalid
            "
            label="LOGIN"
            type="submit"
            class="p-button-success p-button-sm p-d-block p-mx-auto"
            routerLink="/home"
          ></button>
          <div class="p-mt-4 p-mb-3 p-text-center">
            <a
              (click)="forgotPassword()"
              routerLink="/auth/forgot"
              style="color: #e4e3e3c2"
              routerLinkActive="active"
              >Forgot my password</a
            >
          </div>
          <div class="p-mb-2 p-text-center">
            <a
              (click)="signUp()"
              routerLink="/auth/sign-up"
              style="color: #e4e3e3c2"
              routerLinkActive="active"
              ><b>New user? Sign up now!</b></a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="p-col-4"></div>
</div>
