.login-card-container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100%;
}

.login-card {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  min-width: 320px;
  max-width: 650px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(59, 97, 166, 0.2);
  border-radius: 15px;
  background-color: rgba(34, 34, 32, 0.829);
}
.space-container {
  display: flex;
  height: 250px;
}
