<div class="card-2 p-grid p-fluid p-formgrid" style="height: 100vh">
  <div class="p-d-flex p-flex-column p-col-10 p-py-0">
    <form
      class="p-fluid margin p-col-10 p-pl-6"
      [formGroup]="loginForm"
      (ngSubmit)="doUserLogin()"
    >
      <div class="p-field p-mb-2">
        <label for="userName">Username</label>
        <input
          id="userName"
          type="text"
          pInputText
          formControlName="userName"
        />
      </div>
      <div class="p-field p-mb-2">
        <label for="lastname1">Password</label>
        <input
          id="lastname1"
          [type]="showPassword ? 'text' : 'password'"
          pInputText
          formControlName="password"
        />
        <span
          class="material-icons p-eye p-mr-2"
          (click)="toggleShowPassword()"
          >{{ showPassword ? 'visibility_off' : 'visibility' }}</span
        >
      </div>

      <div class="p-mt-6 p-mb-1">
        <button
          pButton
          pRipple
          label="ΣΥΝΔΕΣΗ"
          type="submit"
          class="p-button-success p-button-sm p-d-block p-mx-auto"
        ></button>
        <div class="p-mt-4 p-mb-4 p-text-center">
          <a
            routerLink="/auth/forgot"
            style="color: #909090"
            routerLinkActive="active"
            >Ξέχασα τον κωδικό μου!</a
          >
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card-2">
  <h5>Show Password</h5>
  <p-password [(ngModel)]="value" [toggleMask]="true"></p-password>
</div>
