/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/bootstrap4-dark-blue/theme.css';

.body {
  /* background-image: url(./assets/images/diego-catto-DI6ywiG5N0g-unsplash.jpg);
  position: relative;
  size: 500px; */
  background-color: rgba(0, 23, 99, 0.281);
}

/* @media screen and (max-width: 70em) {
  .mv-text-container {
    white-space: normal !important;
    text-overflow: initial !important;
    overflow: auto !important;
  }

  .ui-table table {
    width: 99%;
  }

  .ui-table-responsive .ui-table-thead > tr > th,
  .ui-table-responsive .ui-table-tfoot > tr > td {
    display: none !important;
  }

  .ui-table-responsive .ui-table-tbody > tr > td {
    text-align: left !important;
    display: block !important;
    border: 0 none !important;
    width: 100% !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    float: left !important;
    clear: left !important;
  }

  .ui-table-responsive .ui-table-tbody > tr > td .ui-column-title {
    padding: 0.4em !important;
    min-width: 30% !important;
    display: inline-block !important;
    margin: -0.4em 1em -0.4em -0.4em !important;
    font-weight: bold !important;
  }

  tr > td {
    text-align: left !important;
    border: 0px !important;
    padding-left: 15px !important;
  }

  tr > th > {
    border: 0px !important;
    text-align: left !important;
  }

  tr {
    border: 1px solid #d5d5d5 !important;
  }

  tr > td:last-child {
    padding-bottom: 15px !important;
    margin-bottom: 0 !important;
  }

  tr > td:first-child {
    padding-top: 15px !important;
  } */
/* } */
