/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons';
@import 'primeng/resources/primeng.min';
@import 'primeng/resources/themes/bootstrap4-dark-blue/theme';
@import '~material-icons/iconfont/material-icons';

.body {
  /* background-image: url(./assets/images/diego-catto-DI6ywiG5N0g-unsplash.jpg);
  position: relative;
  size: 500px; */
  background-color: rgba(0, 0, 0, 0.726);
  background-image: url('./assets/images/imdb-icon-png-15.jpeg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.table-header {
  display: flex;
  justify-content: space-between;
}

.rhcp-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.rhcp-image::before {
  content: '';
  background-image: url('./assets/images/red-hot-chili-peppers.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.content {
  position: relative;
  width: fit-content;
}

.h1 {
  color: #c7c6c6;
  font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 38px;
  margin: 0 0 48px;
  background: #0f0f0fab;
  border-radius: 10px;
  min-width: 300px;
}

.h1custom {
  color: #c7c6c6;
  font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: 100;
  line-height: 5px;
  min-width: 300px;
}
.smaller-text {
  color: #c7c6c6;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 5px;
  min-width: 300px;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 100%;
}

.card-2 {
  min-width: 300px;
  padding: 16px;
  margin: 10px;
  border: 1px solid rgba(59, 97, 166, 0.2);
  border-radius: 15px;
  position: relative;
  background-color: rgba(6, 17, 17, 0.918);
}

.card-2.light-theme {
  min-width: 300px;
  padding: 16px;
  margin: 10px;
  border: 1px solid rgba(59, 97, 166, 0.2);
  border-radius: 15px;
  position: relative;
  background-color: rgba(200, 204, 204, 0.918);
}

.card-1 {
  border-radius: 15px;
  background-color: rgba(6, 17, 17, 0.582);
}

.image-container {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: center;
  align-self: center;
  min-width: 200px;
  max-width: 200px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(59, 97, 166, 0.2);
  border-radius: 10px;
  background-color: rgba(34, 34, 32, 0.973);
}

.text-danger {
  color: #b00020;
}
.text-warning {
  color: #c2a91ae5;
}
.hidden-error {
  visibility: hidden;
}

.header {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0 0 45px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 0px #0000007a;
  margin: auto;

  width: fit-content;
  padding: 0 32px;

  position: relative;
}

.login-card-container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100%;
}

.login-card {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  min-width: 360px;
  max-width: 650px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(59, 97, 166, 0.2);
  border-radius: 15px;
  background-color: rgba(34, 34, 32, 0.829);
}
.space-container {
  display: flex;
  height: 130px;
}

// .text-tabs {
//   color: #0e0d0d;
//   font-family: 'Lato', sans-serif;
//   font-size: 34px;
//   font-weight: 100;
//   line-height: 5px;
//   min-width: 300px;
// }
