/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/bootstrap4-dark-blue/theme.css';

.body {
  /* background-image: url(./assets/images/diego-catto-DI6ywiG5N0g-unsplash.jpg);
  position: relative;
  size: 500px; */
  background-color: rgba(0, 23, 99, 0.281);
}
