.table-header {
  display: flex;
  justify-content: space-between;
}

.card-2 {
  min-width: 400px;
  padding: 16px;
  margin: 16px;
  border: 1px solid rgba(59, 97, 166, 0.2);
  border-radius: 15px;
  position: relative;
  background-color: rgba(6, 17, 17, 0.918);
}

.card-1 {
  border-radius: 15px;
  background-color: rgba(6, 17, 17, 0.582);
}

.collapsible-header.active i.more {
  display: none;
}

.collapsible-header.active i.less {
  display: block;
}

.collapsible-header i.less {
  display: none;
}

/* .button-custom {
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  color: brown;
} */
/* .container {
  background-image: url(../../assets/images/diego-catto-DI6ywiG5N0g-unsplash.jpg);
} */

/* .table-toolbar{
  width: calc(118vw - 305px);

} */
