<p-menubar [model]="items">
  <ng-template pTemplate="end">
    <p-button
      icon="pi pi-bell"
      styleClass="p-button-warning p-button-rounded p-button-warning p-button-text p-button-lg p-mr-2"
      badge="8"
      badgeClass="p-badge-danger p-mb-2 p-ml-0"
      (click)="showNotifications()"
    ></p-button>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-heart"
      class="p-button-rounded p-button-help p-button-text p-button-lg p-mr-2"
      (click)="navigateToFavorites()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-power-off"
      (click)="logOut()"
      class="p-button-rounded p-button-secondary"
    ></button>
  </ng-template>
</p-menubar>
<div class="card-2">
  <div class="p-d-flex p-flex-column">
    <p-tabView class="vertical">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-user"></i>
          <span class="p-tabview-title p-ml-2"> My Profile</span>
        </ng-template>
        <div
          class="card-1 p-d-flex p-flex-wrap p-justify-start p-col-12 p-fluid"
        >
          <div class="p-d-flex p-flex-column p-col-12 p-py-0">
            <div
              class="
                p-field p-d-flex p-flex-column p-col-12 p-lg-8 p-xl-6 p-mt-4
              "
            >
              <input
                id="contracting"
                type="text"
                pInputText
                placeholder="Name"
              />
            </div>
            <div
              class="
                p-field p-d-flex p-flex-column p-col-12 p-lg-8 p-xl-6 p-mb-4
              "
            >
              <input
                id="contract"
                type="text"
                pInputText
                placeholder="Artist"
              />
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
    <div class="p-d-flex p-justify-end p-px-2" style="margin-bottom: 1.25rem">
      <button
        pButton
        type="button"
        class="p-m-2 p-button-rounded p-button-secondary"
        (click)="onSearchFilters()"
      >
        <i class="pi pi-search"></i>
      </button>
    </div>
  </div>
</div>

<p-toolbar styleClass="p-mb-2 p-ml-3 p-mr-3">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      label="New"
      icon="pi pi-plus"
      class="p-button-success p-mr-2"
      (click)="openNew()"
    ></button>
  </ng-template>
  <ng-template pTemplate="right">
    <button
      pButton
      pRipple
      label="Print"
      icon="pi pi-print"
      class="p-button-secondary"
      (click)="printSelectedProduct()"
      [disabled]="!selectedProducts || selectedProducts.length !== 1"
    ></button>
    <button
      pButton
      pRipple
      label="Download"
      icon="pi pi-download"
      class="p-button-info p-ml-2"
      (click)="downloadSelectedSong()"
      [disabled]="!selectedProducts || selectedProducts.length !== 1"
    ></button>
  </ng-template>
</p-toolbar>
<div class="card-2">
  <p-table
    #dt
    [value]="products"
    [loading]="loading"
    dataKey="id"
    [rows]="10"
    [paginator]="true"
    [rowHover]="true"
    responsiveLayout="stack"
    styleClass="p-datatable-sm p-datatable-striped"
    sortField="name"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [(selection)]="selectedProducts"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-flex-wrap p-ai-center p-jc-between">
        <h4 class="p-ml-4">Songs Results</h4>
        <span class="p-input-icon-left p-ml-3">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
            class="p-inputtext-md"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style="width: 200px" pSortableColumn="category">
          Artist <p-sortIcon field="category"></p-sortIcon>
        </th>
        <th style="width: 100px" pSortableColumn="year">
          Year <p-sortIcon field="year"></p-sortIcon>
        </th>
        <th pSortableColumn="rating">
          Reviews <p-sortIcon field="rating"></p-sortIcon>
        </th>
        <th>
          Album
          <p-columnFilter
            type="text"
            field="inventoryStatus"
            display="menu"
            [showOperator]="false"
            [showMatchModes]="false"
            [showAddButton]="false"
            [hideOnClear]="true"
            matchMode="startsWith"
          ></p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-ri="rowIndex">
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.artist }}</td>
        <td>{{ product.year }}</td>
        <td style="min-width: 170px">
          <p-rating
            [ngModel]="product.rating"
            [readonly]="false"
            [cancel]="false"
          ></p-rating>
        </td>
        <td [ngSwitch]="product.inventoryStatus">
          <p-badge
            *ngSwitchCase="'CALIFORNICATION'"
            [value]="product.inventoryStatus"
            severity="info"
            >{{ product.inventoryStatus }}</p-badge
          >
          <p-badge
            *ngSwitchCase="'ARCADIUM'"
            [value]="product.inventoryStatus"
            severity="warning"
            >{{ product.inventoryStatus }}</p-badge
          >
          <p-badge
            *ngSwitchCase="'BLOOD SUGAR'"
            [value]="product.inventoryStatus"
            severity="danger"
            >{{ product.inventoryStatus }}</p-badge
          >
        </td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            class="
              p-button-rounded
              p-button-help
              p-button-text
              p-button-sm
              p-mr-2
              p-mb-1
            "
            (click)="editProduct(product)"
          >
            <span class="material-icons">visibility</span>
          </button>
          <button
            pButton
            pRipple
            (click)="loveItem(ri)"
            type="button"
            class="
              p-button-rounded p-button-danger p-button-text p-button-sm p-mt-1
            "
          >
            <div *ngIf="product.isLoved === true">
              <i class="material-icons">favorite</i>
            </div>
            <div *ngIf="product.isLoved === false">
              <i class="material-icons">favorite_border</i>
            </div>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ products ? products.length : 0 }} songs.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '1000px' }"
  header="Red Hot Chili Peppers - Guitar Tab"
  [modal]="true"
  [draggable]="true"
  [resizable]="true"
  styleClass="p-fluid"
  [breakpoints]="{ '1000px': '85vw' }"
>
  <ng-template pTemplate="content">
    <!-- <h4>Give it Away</h4> -->
    <div class="rhcp-image p-grid p-col-12 p-d-flex p-flex-column">
      <h4>Give It Away</h4>
      <div class="p-field content">
        <div class="p-col-12 p-sm-10 p-md-12 p-lg-10">
          <pre>
          E--------------------------|-----11------11-------11------11-----11-------|
          B--------------------13b---|----------------------------------------------|
          G--------------------11----|--------11br----11br-----11br----11br----11br-|
          D------7---7-7-7-----------|----------------------------------------------|
          A------0---0-0-0--0--------|----------------------------------------------|
          E--------------------------|----------------------------------------------|
          E--------------------------|----------------------------------------------------|
          B--------------------13b---|----------------------------------------------------|
          G--------------------11----|----------------------------------------------------|
          D------7---7-7-7-----------|-----5--5---------5--5-----5---5-----5--5----5--5---|
          A------0---0-0-0--0--------|-----------3---3--------4----------4-------4------4-|
          E--------------------------|----------------------------------------------------|
        </pre
          >
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Click or Esc"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
