.table-header {
  display: flex;
  justify-content: space-between;
}

.card-2 {
  min-width: 300px;
  padding: 16px;
  margin: 10px;
  border: 1px solid rgba(59, 97, 166, 0.2);
  border-radius: 15px;
  position: relative;
  background-color: rgba(6, 17, 17, 0.918);
}

.card-1 {
  border-radius: 15px;
  background-color: rgba(6, 17, 17, 0.582);
}

.rhcp-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.rhcp-image::before {
  content: '';
  background-image: url('../../assets/images/red-hot-chili-peppers.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.content {
  position: relative;
  width: fit-content;
}
